.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
  padding: 5px;
}

p {
  color: green;
  font-style: bold;
}

button {
    background-color: #7ac5cd;
    border: none;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
}

button {
    background-color: #7ac5cd;
    border: none;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
}

#delete {
      background-color: #cd9b1d;
}
